---
---

@import "{{ site.theme }}";

.toc {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed;
    overflow: auto;
  }
}

.inner {
  margin-left: 25%;
}