---
---

@import "{{ site.theme }}";

.toc {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
  }
}

.inner {
  margin-left: 25%;
}